In [1]:
from sklearn import datasets
import pandas as pd
import numpy as np

In [2]:
data = datasets.fetch_california_housing()

In [3]:
data

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [4]:
df = pd.DataFrame(data.data)

In [5]:
df.head()

        0     1         2         3       4         5      6       7
0  8.3252  41.0  6.984127  1.023810   322.0  2.555556  37.88 -122.23
1  8.3014  21.0  6.238137  0.971880  2401.0  2.109842  37.86 -122.22
2  7.2574  52.0  8.288136  1.073446   496.0  2.802260  37.85 -122.24
3  5.6431  52.0  5.817352  1.073059   558.0  2.547945  37.85 -122.25
4  3.8462  52.0  6.281853  1.081081   565.0  2.181467  37.85 -122.25

In [6]:
df.columns = data.feature_names

In [7]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [8]:
feature = np.array(df.HouseAge)

In [9]:
label = np.array(data.target)

In [10]:
def derivative(x,y,m,c):
    m_out = -2*(((y-m*x-c)*x).mean())
    c_out = -2*((y-m*x-c).mean())
    return m_out, c_out

In [11]:
def cost(x,y,m,c):
    return ((y-(m*x + c))**2).mean()

In [24]:
def run(x,y):
    m = -1
    c = 1
    l = 0.001
    for i in range(100):
        m_cal,c_cal = derivative(x,y,m,c)
        m -= l*m_cal
        c -=  l*c_cal
        print(cost(x,y,m,c))
#         print(m,c)
    return m,c

In [25]:
run(feature,label)

961.2951605438543
884.0031818623503
812.9349090498451
747.5891963823162
687.5052514306348
632.2593857294228
581.4620270887996
534.7549724810012
491.8088621302719
452.32085699428563
416.0125032595921
382.627768792322
351.93123769796483
323.7064502589417
297.75437654385485
273.89201292489236
251.9510916065661
231.77689406587714
213.2271600367449
196.17108434527657
180.48839452194414
166.06850268634616
152.80972572397022
140.61856825594262
129.4090633455435
119.10216629240398
109.62519723965248
100.91132866349268
92.89911413118571
85.53205500441803
78.7582020326143
72.52978902678528
66.80289603071766
61.537139614319976
56.695388105191896
52.243499750338614
48.15008196164854
44.38626994742522
40.92552316896801
37.743438186892035
34.817576577451035
32.12730670539576
29.65365823761008
27.379188371611914
25.287858835612756
23.364922792788207
21.59682085225154
19.97108545343968
18.47625294966716
17.1017827708949
15.837983095680874
14.675942508179615
13.607467158262246
12.625022981634126
11.721682572508684
10.891076334203925
10.127347563194435
9.42511114988877
8.779415604906143
8.18570814307612
7.639802578947266
7.13784980741609
6.6763106613171255
6.251930954576212
5.861718534940937
5.502922184472906
5.173012219016202
4.869662649836946
4.590734781644732
4.334262131335417
4.098436561108098
3.881595528172305
3.6822103611352803
3.498875480398889
3.330298486552587
3.1752910468695643
3.0327605156411614
2.9017022292593677
2.7811924217152826
2.6703817105563616
2.568489107367915
2.474796510543092
2.388643641506445
2.309423388683322
2.2365775263824923
2.169592778403251
2.1079971986090538
2.0513568429448847
1.9992727094306977
1.9513779245529437
1.9073351562136986
1.866834234994503
1.829589966960977
1.7953401225849563
1.7638435876027911
1.7348786627703805
1.7082415005254585
1.68374466753309
1.6612158229779814
1.6404965032834442

(0.01573589522544344, 1.0539741843152552)